<a href="https://colab.research.google.com/github/shri4916/Python-Basics/blob/main/3_Python_Basics_Operators_and_output_statement.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Opraters**
We user operaters to perform oprations in python

#**Arithmatic Operater**

Let us start with arithmatic opraters 

It has all the mathematical operaters 

Ex 
1) Addition (+)

2) Substraction (-)

3) Division (/)

4) Multiplication (*)

5) Modulo operater (%) - to find reminder

6) Flore division operater (//) - to find lower intiger of given division (Float) value

7) Exponent or power operater (**) - to find raise to value

In [3]:
a= 14
b = 5
print ("Value of a : ",a)
print ("Value of a : ",b)
print ("a+b : ", a+b)
print ("a-b : ", a-b)
print ("a*b : ", a*b)
print ("a/b : ", a/b)
print ("a%b : ", a%b)
print ("a//b : ", a//b)
print ("a**b : ", a**b)

Value of a :  14
Value of a :  5
a+b :  19
a-b :  9
a*b :  70
a/b :  2.8
a%b :  4
a//b :  2
a**b :  537824

#Relation Operater

This operaters are used to compare values in Python

1) Greater than - ">"

1) Greater than or equal to - ">="

1) Lower than - "<"

1) Lower than or equal to - "<="

In [4]:
a= 5
b = 10
print ("a>b : ", a>b)
print ("a>=b : ", a>=b)
print ("a<b : ", a<b)
print ("a<=b : ", a<=b)

a>b :  False
a>=b :  False
a<b :  True
a<=b :  True

#**Equality Operater**

It is used to compare values equal to or not equal too 

1) Equal to - "=="

2) Not equal to - "!="

In [5]:
#check whether 2 ints are equal 
10==20

False

In [6]:
#Check whether an int and float are matching 
10 == True

False

In [7]:
#Check whether 2 values are not matching
10 != 20

True

In [8]:
# Check whether multiple values are matching 
10 == 10 == 10

True

In [10]:
# Check wther 2 boolian values are matching 
True == True

True

#**Logical Operater**

Logical operaters are used to put condition and get desired results

**For Boolian**

1) And Operater (and) - It will be true when both the values are true

2) Or operater (or) - It will be true when one of the value is true

3) Not Operater (not) - It is complimentary operater 

**For Non Boolian**

1) in **x and y** if condition is **false**, return x, if **true** return y

**And Operaters**

1) in **x and y** if condition is **false**, return x, if **true** return y

In [11]:
10 and 20

20

In [14]:
# and bitween two boolian values 
True and True

True

In [15]:
True and False

False

In [16]:
# 0 is considered false 

0 and 21

0

**OR Operaters**

1) in **x and y** if condition is **True**, return x, if **False** return y

In [18]:
#OR Operater for non boolian value 
10 or 20

10

In [19]:
0 or 3

3

In [20]:
True or True

True

In [21]:
True or False

True

In [22]:
False or True

True

In [23]:
False or False

False

### **Not Operater**

It is used for complementary 

When **not** is appliedd to **True**, ans willl be **False** 

When **not** is appliedd to **False**, ans willl be **True**

In [24]:
not 0

True

In [25]:
not 1

False

#**Bitwise Operaters**

Examples are

1) & - And Operater -> If both bits are 1 then only result is 1 otherwise result is 0

2) | - OR Operater -> If atleast one bit is 1 then result is 1 otherwise result is 0

3) ^ -> If bits are different then only result is 1 otherwise result is 0

4) ~ - Not Operater -> bitwise complement operator

5) << - Bitwise Left Shift

6) >> - Bitwise Right Shift

It is applicable only for Int and boolian

In [30]:
# & operater 
print (4&5)

4

In [31]:
print (5&9)

1

In [32]:
1&4

0

In [33]:
2&4

0

In [34]:
3&5

1

In [35]:
4&5

4

In [36]:
4&7

4

In [37]:
7&4

4

Or Operater 

'|' Operater

In [1]:
True | True

True

In [2]:
True | False

True

In [3]:
False | False

False

In [4]:
# '|' operater with numbers 
2|2

2

In [12]:
2|5

7

In [8]:
2^3

1

In [9]:
4^4

0

**Compliment Operater**

In [1]:
~5

-6

In [2]:
~2

-3

In [3]:
~-5

4

**Shift operater**

1) Left shift - shift first numbers binary value to Right by number of places as per second value.

1) Right shift - shift first numbers binary value to Right by number of places as per second value.

In [7]:
#Left Shift operater 
# 0000 1010 - 10
# 0010 1000 - 40

10<<2

40

In [6]:
#Right Shift operater 
# 0000 1010 - 10
# 0000 0010 - 02

10>>2

2

#**Asignment Operater**

These operaters are used to assign values 

Examples are as follows: 

1) +=

2) -=

3) *=

4) /=

5) %=

6) //=

7) **=

8) &=

9) |=

10) ^=

11) >>=

12) <<=

1] Instead of using

A = A+1

We can write 

A+= 1

In [10]:
A = 10
A+= 20
A

30

2] Instead of using

A = A-1

We can write 

A-= 1

In [11]:
A = 450
A-= 20
A

430

3] Instead of using

A = A*1

We can write

A*= 1

In [12]:
A = 10
A*= 20
A

200

4] Instead of using

A = A/1

We can write

A/= 1

In [13]:
A = 40
A/= 20
A

2.0

5] Modulo operater

In [14]:
A = 43
A%= 20
A

3

6] Flore division

In [15]:
A = 43
A//= 20
A

2

#**Ternary operater or Conditional operater**

Using If / Else condition

In [13]:
# Finding lowest number using if else

a,b = 10,20

print (a if a<b else b)

10

In [16]:
#find lowest number of 3 numbers 

a,b,c = 4,7,2

print (a if a<b and a<c else b if b<c else c)

2

# **Homework**
**Find max of 3 numbers**

In [17]:
# let user hardcode the values 

a = int(input("Enter first value: "))
b = int(input("Enter first value: "))
c = int(input("Enter first value: "))

print(a if a>b and a>c else b if b>c else c)

Enter first value: 5
Enter first value: 4
Enter first value: 8
8

#**Identiry operater**

Is 

Is not

r1 is r2 returns True if both r1 and r2 are pointing to the same object.

r1 is not r2 returns True if both r1 and r2 are not pointing to the same object.

In [18]:
1 is 2

False

In [19]:
2 is 2

True

In [20]:
1 is not 2

True

In [21]:
2 is not 2

False

# **Membership operater**

We can use Membership operators to check whether the given object present in the given collection. (It may be String, List, Set, Tuple OR Dict)

1) In -> Returns True if the given object present in the specified Collection

2) not in -> Retruns True if the given object not present in the specified Collection

3) it is not case sensitive

In [22]:
# check membership operater 

a = "Shriniwas"

print ('s' in a)
print ('niwas' in a)
print ('b' in a)
print ('nish' in a)

True
True
False
False

# **Math Module**

We need to import math module

In [25]:
import math
math.sqrt(16)

4.0

In [27]:
from math import ceil, floor, factorial, trunc, gcd, sin,cos,tan
print(ceil(10.55))
print(floor(10.55))
print(pow(10,20))
print(factorial(5))
print(trunc(10.55))
print(gcd(10,20))
print(sin(10))
print(cos(10))
print(tan(10))

11
10
100000000000000000000
120
10
10
-0.5440211108893698
-0.8390715290764524
0.6483608274590866

# **Homework**

To find area of circle. take hardcoded value from user

In [29]:
a = math.pi
r = math.pow(int(input("Enter value of radius : ")),2)
area = a*r
print (area)

Enter value of radius : 5
78.53981633974483