<a href="https://colab.research.google.com/github/shri4916/Python-Basics/blob/main/4_Python_Basics_Flow_Control.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


#**Control Flow**
---

##**Conditional statment**

1) If

2) If elif

3) If elif else

In [6]:
number=input("EnterNumber:")
if number == "10":
  print("The number entered is ",number)

EnterNumber:10
The number entered is  10

In [5]:
name=input("EnterName:")
if name=="Shri":
  print("Hello Shri Good Morning")
  print("Howareyou!!!")

EnterName:Shri
Hello Rajesh Good Morning
Howareyou!!!

##**Else**

else part is always optional. Hence the following are various possible syntaxes.

1) if

2) if - else

3) if - elif - else

4) if - elif

In [7]:
#Write a program to find biggest number of 2 hardcoded values 

a = int(input("Enter first value :"))
b = int(input("Enter second value :"))

if a>b:
  print("Biggest number is : ",a)
else:
  print("Biggest number is : ",b)

Enter first value :7
Enter second value :6
Biggest number is :  7

# **Homework**

1) Write a Program to find Biggest of given 3 Numbers from the Commad Prompt?

2) Write a program to find smallest of given 2 numbers?

3) Write a program to find smallest of given 3 numbers?

4) Write a program to check whether the given number is even or odd?

In [8]:
# Write a Program to find Biggest of given 3 Numbers from the Commad Prompt

a = int(input("Enter first value :"))
b = int(input("Enter second value :"))
c = int(input("Enter third value :"))

if a>b and a>c:
  print("Biggest number is : ",a)
elif b>c:
  print("Biggest number is : ",b)
else:
  print("Biggest number is : ",c)

Enter first value :5
Enter second value :7
Enter third value :4
Biggest number is :  7

In [9]:
# Write a program to find smallest of given 2 numbers

a = int(input("Enter first value :"))
b = int(input("Enter second value :"))

if a<b:
  print("Smallest number is : ",a)
else:
  print("Smallest number is : ",b)

Enter first value :7
Enter second value :5
Smallest number is :  5

In [10]:
# Write a Program to find Smallest of given 3 Numbers from the Commad Prompt

a = int(input("Enter first value :"))
b = int(input("Enter second value :"))
c = int(input("Enter third value :"))

if a<b and a<c:
  print("Smallest number is : ",a)
elif b<c:
  print("Smallest number is : ",b)
else:
  print("Smallest number is : ",c)

Enter first value :8
Enter second value :6
Enter third value :9
Smallest number is :  6

In [11]:
# Write a program to check whether the given number is even or odd

a = int(input("Enter first value :"))

if a%2 ==0:
  print ("It is even number")
else :
  print("It is odd number")

Enter first value :7
It is odd number

# **Iterative Statements:**
If we want to execute a group of statements multiple times then we should go for Iterative statements.

Python supports 2 types of iterative statements.

1) for loop

2) while loop

# **for loop:**

If we want to execute some action for every element present in some sequence (it may be string or collection) then we should go for for loop.

In [13]:
A = "Shriniwas"

for x in A:
  print (x)

S
h
r
i
n
i
w
a
s

In [14]:
A = "Shriniwas"

for x in A:
  print (A)

Shriniwas
Shriniwas
Shriniwas
Shriniwas
Shriniwas
Shriniwas
Shriniwas
Shriniwas
Shriniwas

In [16]:
for x in range(5):
  print (x)

0
1
2
3
4

In [17]:
# Write program to print even values till end of range
for x in range(35):
  if x%2 == 0:
    print (x)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34

In [18]:
# Write program to print Odd values till end of range
for x in range(15):
  if x%2 != 0:
    print (x)

1
3
5
7
9
11
13

In [20]:
# Write a program to display range in reverse 

for x in range(15,0,-1):
  print(x)

15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [21]:
# Write a program to display range in reverse with 2 itrations from 20 - 1

for x in range(20,0,-2):
  print(x)

20
18
16
14
12
10
8
6
4
2

In [25]:
# To print sum of numbers presenst inside list
sum = 0
for x in range(7):
 sum+=x
print("Sum of all the numbers is : ",sum)

Sum of all the numbers is :  21

# **While Loop**
If we want to execute a group of statements iteratively until some condition become false,then we should go for while loop.

In [26]:
# To print numbers from 1 to 10 by using while loop

x = 1
while x <= 10:
  print (x)
  x+=1

1
2
3
4
5
6
7
8
9
10

In [32]:
# To display the sum of first n numbers

a = int (input("Enter number :"))
sum = 0
x = 1

while x<= a:
  sum += x
  x+= 1
print ("Sum of all the numbers is : ",sum)

Enter number :7
Sum of all the numbers is :  28

## **Infinite loop**

When the condition remains true for all the time, the loops keeps exicuting again and again. this is an dangerous situation. 

It fill our storage "Stack" and couse "Stack overflow" error

In [ ]:
while True:
  print("1")

# **Nested Loop**

It is used to exicute loop inside loop

In [34]:
for i in range(3):
    for j in range(3):
      print(i,j)

0 0
0 1
0 2
1 0
1 1
1 2
2 0
2 1
2 2

## **Homework**

Write a Program to dispaly *'s in Right Angled Triangled Form

Lets exicute it using Nester for loop

In [47]:
for i in range(6):
    for j in range(i):
      print("*",end="")
    print()

*
**
***
****
*****

## **Transfer statment**

### break:
We can use break statement inside loops to break loop execution based on some condition.

In [50]:
 for i in range (7):
  if i==4:
    print ("Breaking the look at :", i)
    break
  print (i)

0
1
2
3
Breaking the look at : 4