<a href="https://colab.research.google.com/github/shri4916/Python-Basics/blob/main/5_Python_Basics_Strings.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **String**

1) Any sequence of characters within either single quotes or double quotes is considered as a String.

2) We can define multi-line String literals by using triple single or double quotes.

3) We can also use triple quotes to use single quotes or double quotes as symbol inside String literal

In [ ]:
a = 'shri'
b = "Niwas"
c = """ shri
niwas"""
d = '''shri
niwas'''
#e = '''shri 'niwas''''
f = """shri "niwas" """
g = '''shri 'niwas' a'''
h = """shri "niwas" b"""
print (a)
print (b)
print (c)
print (d)
#print (e)
print (f)
print (g)
print (h)
print (a,b,c,d,f,g,h)

shri
Niwas
 shri
niwas
shri
niwas
shri "niwas"
shri 'niwas' a
shri "niwas" b
shri Niwas  shri
niwas shri
niwas shri "niwas"  shri 'niwas' a shri "niwas" b

# **How to access characters of a string?**
We can access characters of a string by using the following ways.

1) By using index

2) By using slice operator

In [ ]:
print(a[0])
print(a[2])
print(a[-2])
print (a[:])
print(a[:3])
print (a[1:])
print (a[1::2])
print (a[::2])

s
r
r
shri
shr
hri
hi

In [ ]:
# 2. Accessing characters by using slice operator
#  Syntax: s[begin index : end index : step]
s="Learning Python is very very easy!!!"
print (s[4:10:1])
print (s[::])
print (s[::-1])
print (s[234:13:-1])
print (len(s))
print (type(s))

ning P
Learning Python is very very easy!!!
!!!ysae yrev yrev si nohtyP gninraeL
!!!ysae yrev yrev si n
36
<class 'str'>

**Q)Write a Program to access each Character of String in Forward and Backward Direction by using while Loop?**

In [ ]:
e = "shriniwas"
l = len(e)
i = 0
while i<l:
  print (e[i],end='')
  i += 1
print()
ind2 = -1
while ind2>=-l:
  print (e[ind2],end='')
  ind2 -= 1

shriniwas
sawinirhs

## **Checking Membership:**
We can check whether the character or string is the member of another string or not by using in and not in operators.

In [ ]:
q = 'shriniwas'
print('shri' in q)
print('ram' in q)
print('ri' in q)
print('swai' in q)

True
False
True
False

# **Comparison of Strings**
We can use comparison operators (<, <=, >, >=) and equality operators (==, !=) for strings.

it dose not compare the leangh of string

It compares the characters in string Ex - B is greater than A

In [ ]:
s1 = "shri"
s2 = "niwas"
if s1==s2:
  print("Both strings are equal")
elif s1<s2:                                                                                            
  print("First String is short")
else:
  print("First String is long")

First String is long

**Removing Spaces from the String:**

1)rstrip()-->To remove spaces at right hand side.

2) lstrip()--> To remove spaces at left hand side.

3) strip()-->To remove spaces both sides.

In [ ]:
f = " ndsf "
print(f.strip())
print(f.rstrip())
print(f.lstrip())

ndsf
 ndsf
ndsf

**Finding Substrings:**

We can use the following 4 methods

For forward direction:

1) find()

2) index()

For backward direction:

1) rfind()

2) rindex()

**find()**

Returns index of first occurrence of the given substring. If it is not available then we will get -1.

In [ ]:
s=" data "
print(s.find("ata")) #1st index
print(s.find('a',3,5))
print(s.find(' ',2,7))
print(s.find(" "))
print(s.find("s"))

2
4
5
0
-1

**index()**

index() method is exactly same as find() method except that if the specified substring is not available then we will get ValueError.

In [ ]:
s=" data "
print(s.index("ata")) 
print(s.index('a',3,5))
print(s.index(' ',2,7))
print(s.index(" "))
print(s.index("s"))

2
4
5
0

ValueError: ignored

**Q) Program to display all Positions of Substring in a given Main String**

In [ ]:
a= 'shriniwas'
b='i'
c = len(a)
flag = True
ind = -1

while True:
  ind = a.find(b,ind+1,c)
  if ind ==-1:
        break
  print ("Index value is: ",ind)
  flag = False

  if flag==True :
    print ("Value not found")

Index value is:  3
Index value is:  5

**Count substring in the given String:**

We can find the number of occurrences of substring present in the given string by using count() method.

s.count(substring)-->It will search through out the string.

s.count(substring, bEgin, end)-->It will search from bEgin index to end-1 index.

In [ ]:
a= 'shriniwas'
print(a.count('i'))
print(a.count('i',2,4))

2
1

**Replacing a String with another String:**

s.replace(oldstring, newstring)

Inside s, every occurrence of old String will be replaced with new String.

In [ ]:
a= 'shriniwas'
print(a.replace('i','a'))

shranawas

**Splitting of Strings:**

We can split the given string according to specified seperator by using split() method.

Syntax: l = s.split(seperator)

In [1]:
s="22-02-2018"
l=s.split('-')
print(l)
for x in l:
  print(x)

['22', '02', '2018']
22
02
2018

In [2]:
a = "01/02/13"
b = a.split('/')
print(b)
for i in b:
  print(i)

['01', '02', '13']
01
02
13

### **Joining Of Strings:**

s = seperator.join(group of strings)

In [5]:
a = ["abc", "bcd", 'cdf']
print('-'.join(a))

abc-bcd-cdf

## **Changing the case of a string:**

upper()-->To convert all characters to upper case.

lower()-->To convert all characters to lower case.

swapcase() --> Converts all lower case characters to upper case and all upper case characters to lower case

title() --> To convert all character to title case. i.e first character in every word should be upper case and all remaining characters should be in lower case.

capitalize() --> Only first character will be converted to upper case and all remaining characters can be converted to lower case.

In [8]:
a = 'Shriniwas Ambad'

print(a.upper())
print(a.lower())
print(a.swapcase())
print(a.title())
print(a.capitalize())

SHRINIWAS AMBAD
shriniwas ambad
sHRINIWAS aMBAD
Shriniwas Ambad
Shriniwas ambad

## **Checking Starting and Ending Part of the String:**

Python contains the following methods for this purpose.

s.startswith(substring)

s.endswith(substring)

In [15]:
a = 'Shriniwas Ambad'
print (a.startswith('Shri'))
print (a.endswith('a'))

True
False

## **To Check Type of Characters Present in a String:**

Python contains the following methods for this purpose.

isalnum(): Returns True if all characters are alphanumeric( a to z , A to Z ,0 to9 ). 
  
    It it true even if one of the case passes Ex only String or Only number

isalpha(): Returns True if all characters are only alphabet symbols(a to z,A to Z)

isdigit(): Returns True if all characters are digits only( 0 to 9)

islower(): Returns True if all characters are lower case alphabet symbols

isupper(): Returns True if all characters are upper case aplhabet symbols

istitle(): Returns True if string is in title case

isspace(): Returns True if string contains only spaces

In [24]:
# checks whether it is 
print('shri123'.isalnum())

print('hjfgd'.isalpha())

print('shri'.isalnum())
print('123'.isalnum())

print('123'.isalpha())

print('1234'.isdigit())
print('2'.isdigit())

print('SHRI'.islower())
print('shri'.islower())
print('SHRI'.isupper())
print('shri'.isupper())

print('shriniwas Ambad'.istitle())
print('Shriniwas Ambad'.istitle())
print('Shriniwas ambad'.istitle())

print ('     '.isspace())

True
True
True
True
False
True
True
False
True
True
False
False
True
False
True

### **Formatting the Strings:**

We can format the strings with variable values by using replacement operator {} and format() method.

In [25]:
a = 'shri'
b = 'niwas'
c = 'ambad'

print ('{} is his first name, {} is middle name, {} is last name'.format(a, b, c))
print ('{1} is his first name, {2} is middle name, {0} is last name'.format(a, b, c))
print ('{z} is his first name, {x} is middle name, {y} is last name'.format(x = a, y = b,z =  c))

shri is his first name, niwas is middle name, ambad is last name
niwas is his first name, ambad is middle name, shri is last name
ambad is his first name, shri is middle name, niwas is last name

**Write a program to reverse a string**

In [30]:
a = input ("Enter a strig : ")
print(a[::-1])
#print(a.reversed())
print (''.join(reversed(a)))

Enter a strig : shri
irhs
irhs

In [2]:
a= 'shri'
print(''.join(reversed(a)))

irhs

###**Program to Reverse Order of Words**# 

Input: Learning Python is very Easy

Output: Easy Very is Python Learning

In [19]:
a = "Learning Python is very Easy"
c= a.split()
i = len(c)-1

while i>=0:
  print (c[i],end=' ')
  i-=1

Easy very is Python Learning

**Write a Program to Remove Duplicate Characters from the given Input String?**

Input: ABCDABBCDABBBCCCDDEEEF

Output: ABCDEF

In [25]:
stri = 'ABCDABBCDABBBCCCDDEEEF'
l = []
for i in stri:
  if i not in l:
    l.append(i)

print (l)   
print(''.join(l))

['A', 'B', 'C', 'D', 'E', 'F']
ABCDEF

**Write a Program to find the Number of Occurrences of each Character present in the given String?**

Input: ABCABCABBCDE

Output: A-3,B-4,C-3,D-1,E-1

In [27]:
s = 'ABCABCABBCDE'
num = 1
d = {}

for x in s:
  if x in d.keys():
    d[x] += 1
  else:
    d[x]=1 
print (d)
for k,v in d.items():
       print( "{} = {} times".format(k,v))

{'A': 3, 'B': 4, 'C': 3, 'D': 1, 'E': 1}
A = 3 times
B = 4 times
C = 3 times
D = 1 times
E = 1 times