<a href="https://colab.research.google.com/github/shri4916/Python-Basics/blob/main/5_Python_Basics_Strings.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **String**

1) Any sequence of characters within either single quotes or double quotes is considered as a String.

2) We can define multi-line String literals by using triple single or double quotes.

3) We can also use triple quotes to use single quotes or double quotes as symbol inside String literal

In [3]:
a = 'shri'
b = "Niwas"
c = """ shri
niwas"""
d = '''shri
niwas'''
#e = '''shri 'niwas''''
f = """shri "niwas" """
g = '''shri 'niwas' a'''
h = """shri "niwas" b"""
print (a)
print (b)
print (c)
print (d)
#print (e)
print (f)
print (g)
print (h)
print (a,b,c,d,f,g,h)

shri
Niwas
 shri
niwas
shri
niwas
shri "niwas"
shri 'niwas' a
shri "niwas" b
shri Niwas  shri
niwas shri
niwas shri "niwas"  shri 'niwas' a shri "niwas" b

# **How to access characters of a string?**
We can access characters of a string by using the following ways.

1) By using index

2) By using slice operator

In [7]:
print(a[0])
print(a[2])
print(a[-2])
print (a[:])
print(a[:3])
print (a[1:])
print (a[1::2])
print (a[::2])

s
r
r
shri
shr
hri
hi

In [10]:
# 2. Accessing characters by using slice operator
#  Syntax: s[begin index : end index : step]
s="Learning Python is very very easy!!!"
print (s[4:10:1])
print (s[::])
print (s[::-1])
print (s[234:13:-1])
print (len(s))
print (type(s))

ning P
Learning Python is very very easy!!!
!!!ysae yrev yrev si nohtyP gninraeL
!!!ysae yrev yrev si n
36
<class 'str'>

**Q)Write a Program to access each Character of String in Forward and Backward Direction by using while Loop?**

In [23]:
e = "shriniwas"
l = len(e)
i = 0
while i<l:
  print (e[i],end='')
  i += 1
print()
ind2 = -1
while ind2>=-l:
  print (e[ind2],end='')
  ind2 -= 1

shriniwas
sawinirhs

## **Checking Membership:**
We can check whether the character or string is the member of another string or not by using in and not in operators.

In [25]:
q = 'shriniwas'
print('shri' in q)
print('ram' in q)
print('ri' in q)
print('swai' in q)

True
False
True
False

# **Comparison of Strings**
We can use comparison operators (<, <=, >, >=) and equality operators (==, !=) for strings.

it dose not compare the leangh of string

It compares the characters in string Ex - B is greater than A

In [35]:
s1 = "shri"
s2 = "niwas"
if s1==s2:
  print("Both strings are equal")
elif s1<s2:                                                                                            
  print("First String is short")
else:
  print("First String is long")

First String is long

**Removing Spaces from the String:**

1)rstrip()-->To remove spaces at right hand side.

2) lstrip()--> To remove spaces at left hand side.

3) strip()-->To remove spaces both sides.

In [30]:
f = " ndsf "
print(f.strip())
print(f.rstrip())
print(f.lstrip())

ndsf
 ndsf
ndsf

**Finding Substrings:**

We can use the following 4 methods

For forward direction:

1) find()

2) index()

For backward direction:

1) rfind()

2) rindex()

In [42]:
# find():
# Returns index of first occurrence of the given substring. If it is not available then we will get -1.

s=" data "
print(s.find("ata")) #1st index
print(s.find('a',3,5))
print(s.find(' ',2,7))
print(s.find(" "))
print(s.find("s"))

2
4
5
0
-1